.App {
  text-align: center;
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Open Sans', sans-serif;
  background-image: url(./image/14.jpeg);
  background-size: cover;
}

#textbox {
  padding: 1rem;
}

.typed-letters {
  color: black;
}

.current-letter {
  color: #aaaaaa;
  text-decoration: underline;
  animation: blink 1s linear infinite;
}

.typo {
  color: red;
}

@keyframes blink {
  100% {
    text-decoration: none;
  }
}

.waiting-letters {
  color: #aaaaaa;
}

.MyButtons{
  display: flex;
  flex-direction: column;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.buttons{
  margin:10px;
}


